<div class="px-4 overflow-hidden rounded shadow-xs h-full">
  <div class="overflow-auto scrollbar rounded">
    <table class="w-full">
      <thead>
        <tr class="poppins-regular text-left text-sm text-gray-500 border-b">
          <th class="p-4">Name</th>
          <th class="p-4">Sender</th>
          <th class="p-4">Room</th>
          <!-- <th class="p-4">Type</th> -->
          <th class="p-4">Size</th>
          <th class="p-4">Created At</th>
        </tr>
      </thead>
      <tbody class="">
        <tr *ngFor="let doc of documents" class="poppins-regular">
          <td class="px-4 py-3 text-sm poppins-medium">{{ doc.name }}</td>
          <td class="px-4 py-3 text-sm poppins-medium">
            {{ doc.sender.first_name }} {{ doc.sender.last_name }}
          </td>

          <td class="px-4 py-3 text-sm poppins-medium text-green-500">
            <a [routerLink]="['/dg/rooms', doc.room.id]">
              {{ doc.room.name }}
            </a>
          </td>
          <!-- <td class="px-4 py-3 text-sm">{{ doc.type }}</td> -->
          <td class="px-4 py-3 text-sm">{{ doc.size }}</td>
          <td class="px-4 py-3 text-sm">{{ doc.createdAt | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
