<div class="px-4 overflow-hidden rounded-lg shadow-sm">
  <div class="overflow-auto rounded-md">
    <table class="w-full">
      <thead>
        <tr class="poppins-regular text-left text-sm text-gray-500 border-b">
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th class="p-4">Name</th>
          <th class="p-4">Room</th>
          <th class="p-4">Type</th>
          <th class="p-4">Size</th>
          <th class="p-4">Created At</th>
        </tr>
      </thead>
      <tbody class="">
        <tr class="poppins-regular">
          <td class="py-3">
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </td>
          <td class="px-4 py-3 text-sm poppins-medium">Feature X</td>
          <td class="px-4 py-3 text-sm poppins-medium text-green-500">
            <a routerLink="'/dg/documents/folder', comp.code"> Folder X </a>
          </td>
          <td class="px-4 py-3 text-sm">PDF</td>
          <td class="px-4 py-3 text-sm">30 Mb</td>
          <td class="px-4 py-3 text-sm">Mon 18 March, 2024</td>
        </tr>

        <tr class="poppins-regular">
          <td class="py-3">
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </td>
          <td class="px-4 py-3 text-sm poppins-medium">Feature X</td>
          <td class="px-4 py-3 text-sm poppins-medium text-green-500">
            <a routerLink="'/dg/documents/folder', comp.code"> Folder X </a>
          </td>
          <td class="px-4 py-3 text-sm">PDF</td>
          <td class="px-4 py-3 text-sm">30 Mb</td>
          <td class="px-4 py-3 text-sm">Mon 18 March, 2024</td>
        </tr>

        <tr class="poppins-regular">
          <td class="py-3">
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </td>
          <td class="px-4 py-3 text-sm poppins-medium">Feature X</td>
          <td class="px-4 py-3 text-sm poppins-medium text-green-500">
            <a routerLink="'/dg/documents/folder', comp.code"> Folder X </a>
          </td>
          <td class="px-4 py-3 text-sm">PDF</td>
          <td class="px-4 py-3 text-sm">30 Mb</td>
          <td class="px-4 py-3 text-sm">Mon 18 March, 2024</td>
        </tr>

        <tr class="poppins-regular">
            <td class="py-3">
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </td>
            <td class="px-4 py-3 text-sm poppins-medium ">
                Feature X
            </td>
            <td class="px-4 py-3 text-sm poppins-medium text-green-500">
              <a routerLink="'/dg/documents/folder', comp.code">
                  Folder X
                </a>
             
            </td>
            <td class="px-4 py-3 text-sm ">
              PDF
            </td>
            <td class="px-4 py-3 text-sm">
              30 Mb
            </td>
            <td class="px-4 py-3 text-sm ">
              Mon 18 March, 2024
            </td>
          
          </tr>

          <tr class="poppins-regular">
            <td class="py-3">
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </td>
            <td class="px-4 py-3 text-sm poppins-medium ">
                Feature X
            </td>
            <td class="px-4 py-3 text-sm poppins-medium text-green-500">
              <a routerLink="'/dg/documents/folder', comp.code">
                  Folder X
                </a>
             
            </td>
            <td class="px-4 py-3 text-sm ">
              PDF
            </td>
            <td class="px-4 py-3 text-sm">
              30 Mb
            </td>
            <td class="px-4 py-3 text-sm ">
              Mon 18 March, 2024
            </td>
          
          </tr>

          <tr class="poppins-regular">
            <td class="py-3">
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </td>
            <td class="px-4 py-3 text-sm poppins-medium ">
                Feature X
            </td>
            <td class="px-4 py-3 text-sm poppins-medium text-green-500">
              <a routerLink="'/dg/documents/folder', comp.code">
                  Folder X
                </a>
             
            </td>
            <td class="px-4 py-3 text-sm ">
              PDF
            </td>
            <td class="px-4 py-3 text-sm">
              30 Mb
            </td>
            <td class="px-4 py-3 text-sm ">
              Mon 18 March, 2024
            </td>
          
          </tr>
      </tbody>
    </table>
  </div>
</div>
