<section class="py-8 px-6 md:px-10">
  <!-- Divider -->
  <div class="flex flex-col w-full">
    <span class="border-t border-gray-200 pr-2 w-full"></span>
    <div class="w-full flex justify-center">
      <span
        class="rounded-b border-t border-4 border-green-300 shadow-lg w-28"
      ></span>
    </div>
  </div>
  <div class="py-6">
    <p class="poppins-semibold text-2xl text-center">Our Main Features</p>
  </div>
  <!-- Steps -->
  <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-4">
    <div class="bg-gray-200 p-4">Element 1</div>
    <div class="bg-gray-200 p-4">Element 2</div>
    <div class="bg-gray-200 p-4">Element 3</div>
    <div class="bg-gray-200 p-4">Element 4</div>
  </div>
</section>
