<section
  class="flex flex-col h-full justify-between items-center px-2 md:px-8 pt-4 md:flex-row md:h-[80vh]"
>
  <!-- Text Content -->
  <div
    class="poppins-medium w-full py-4  px-4 flex flex-col h-full space-y-10 justify-center md:w-1/2"
  >
    <div >
      <p class="leading-8 text-2xl leading-relaxed md:text-5xl">
        Make Deals
        <span class=" text-green-500">Remotely</span> Anytime, Anywhere
      </p>
      <p class="leading-8 text-2xl leading-relaxed md:text-5xl">
        Like A <span class="text-green-500">Pro</span>
      </p>
    </div>
    <div class="text-gray-800">
      <p class=" poppins-regular leading-8  leading-relaxed">
        Create your virual room so that you can make a better deals ,
      </p>
      <p class="poppins-regular leading-8  leading-relaxed">
        Your various work activities can be done collaboratively with colleagues .
      </p>
    </div>
    <div class="w-full">
      <a
        class="poppins-medium inline-block px-6 py-2.5 text-white font-medium text-xs leading-relaxed uppercase rounded shadow-md bg-green-500 hover:shadow-lg ring-1 ring-green-600 transition duration-150 ease-in-out cursor-pointer"
        >Get Started</a
      >
    </div>
  </div>
  <!-- End Text Content -->

  <!-- Image Section -->
  <div class="hidden h-full pr-12 md:block">
    <img src="./assets/hero.svg" alt="" class="h-full" />
  </div>
  <!-- End Image Section -->
</section>
